<!doctype html>
<html>
  <head>
<script src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style type="text/css">
  #left {
    display: none;
  }
  #right {
    display: none;
  }
  #up {
    display: none;
  }
  #down {
    display: none;
  }
</style>
  </head>
  <body>
    <img id="left" src="left.jpg" width="25" height="25">
<img id="right" src="right.jpg" width="25" height="25">
<img id="up" src="up.jpg" width="25" height="25">
<img id="down" src="down.jpg" width="25" height="25">
  <div class="container-fluid">
<div class="row">
<div class="col-lg-12 panel panel-default">{{ username }} {{ health }} {{ damage }}</div>
</div>
    <div class="row row-centered">
      <div class="col-lg-8">
        <canvas id="Canvas" width="625" height="625" >
        Your browser does not support the HTML5 canvas tag.
        </canvas>
      </div>
      <div class="col-lg-4" >
      <div id="Chat"></div>
      </div>
    </div>

  </div>
  <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
<script>
var init = new client("Canvas","Chat","{{ username }}");
  </script>


</body>
</html>
